# **Python Tutorial for Beginners**

## Writing Your First Python Code

In [ ]:
# First Python Code -> This is comment

print('Welcome to this Tutorial')  # -> this will print the statement in ('')

Welcome to this Tutorial

### ***Types of objects in Python***

In [ ]:
"""
There are major 3 types
1. Integer -> Number |  eg. 4
2. Float   -> Number with decimal | eg. 4.0
3. String  -> Word   | eg. "Hello, Python 101!"
"""

In [ ]:
# get expression by using the built-in type() function.

type(12)

int

In [ ]:
type(12.5)

float

In [ ]:
type("Hello, Python 101!")

str

In [ ]:
# convert Integer to string
str(2)

'2'

In [ ]:
# Convert a float to a string
str(1.2)

'1.2'

In [ ]:
# The other data type is boolean | True or False
# Type of True

type(True)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert False to int

int(False)

0

### **Expression and Variables**

In [ ]:
#addition
2 + 2 + 2

6

In [ ]:
#subtraction
2-2

0

In [ ]:
# Division

25 / 5

5.0

## **Variables**

In [ ]:
X = 2 +2 + 2
print(X)

6

In [ ]:
Y = X / 2
print(Y)

3.0

## **String Operations**

In [ ]:
# Use quotation marks for defining string
"Python is so easy"

# Digitals and spaces in string

'1 2 3 4 5 6 '

# Special characters in string

'@#2_#]&*^%$'

# Print the string

print("hello!")

# Assign string to variable

name = "Python is so easy"
name

hello!

'Python is so easy'

### **Index**

In [ ]:
# it is use to know the sequence of the string

a = "Python"
print(a[0])

P

In [ ]:
print(a[5])

n

In [ ]:
# to print last letter
print(a[-1])

n

In [ ]:
print(a[-5])

y

In [ ]:
# to know the length of a string us len(variable name)
len(a)

6

### **Slicing**

In [ ]:
# it is use to divide the string into multiple parts

a[0:3]

'Pyt'

In [ ]:
#slicing it every 2th position
a[::2]

'Pto'

### **Concatenate Strings**

In [ ]:
# We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

b = a + " is best "
print(b)

Python is best

In [ ]:
# print string multiple times

c = 3 * b
print(c)

Python is bestPython is bestPython is best

In [ ]:
# if want to print in next line use \n

print("python \n is best")

# You can also use \t , \\ , \

python
 is best

### **String Operations**

In [ ]:
# for making string into upper case
d = "python is most used language"
e= d.upper()
print(e)

PYTHON IS MOST USED LANGUAGE

In [ ]:
# for making string into lower case

f = e.lower()
print(f)

python is most used language

In [ ]:
#replace the string
g = d.replace('most used ', ' better')
print(g)

python is  betterlanguage

In [ ]:
#find a substring
d = "python is most used language"
d.find("ost")

11

## Lists

In [ ]:
"""
A list is a sequenced collection of different objects such as integers, strings, and even other lists as well.
The address of each element within a list is called an index.
An index is used to access and refer to items within a list.

"""

In [ ]:
# Create a list using []

h = ["Python is best", 3.2, 1992]
h

['Python is best', 3.2, 1992]

In [ ]:
i = ["Python is best", 3.2 ,"py" ,2]
i

['Python is best', 3.2, 'py', 2]

In [ ]:
#slicing the list
i[1:3]

[3.2, 'py']

In [ ]:
# add into the list using extend or append
L = [ "Python is best", 10.2]
L.append(['version', 10])
L

['Python is best', 10.2, ['version', 10]]

In [ ]:
# Change the element based on the index

A = ["Hello", 10, 1.2]
print('Before change:', A)

# changing here
A[0] = 'World'

print('After change:', A)

Before change: ['Hello', 10, 1.2]
After change: ['World', 10, 1.2]

In [ ]:
# Delete the element based on the index using del()

print('Before change:', A)

#used del()
del(A[0])

print('After change:', A)

Before change: ['World', 10, 1.2]
After change: [10, 1.2]

In [ ]:
# copying the refrence

A = ["hard rock", 10, 1.2]

#used here
B = A

print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

## Tuples

In [ ]:
#Python Tuple is a collection of objects separated by commas.

# Create your first tuple using ()

j = ("disco",10,1.2 )
j

('disco', 10, 1.2)

In [ ]:
# Print the variable on each index

print(j[2])

1.2

In [ ]:
j[-1]

1.2

### Concatenate Tuples

In [ ]:
#We can concatenate or combine tuples by using the + sign
k = j + ("hello",21)
print(k)

('disco', 10, 1.2, 'hello', 21)

### Slicing

In [ ]:
# slicing

k[0:3]

('disco', 10, 1.2)

### Sorting

In [ ]:
l = (0, 9, 6, 5, 10, 8, 9, 6, 2)
k = sorted(l)
print(k)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

## **Dictionaries**

In [ ]:
"""
 A dictionary consists of keys and values. It is helpful to compare a dictionary to a list.
 Instead of being indexed numerically like a list, dictionaries have keys.
These keys are the keys that are used to access values within a dictionary.

"""

In [ ]:
# create Dictionary {}
D = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
D["key3"]

[3, 3, 3]

In [ ]:
release_date = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_date

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Get value by keys

release_date['Thriller']

'1982'

In [ ]:
# get all keys

release_date.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# get all values

release_date.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

## Sets

In [ ]:
# create using { "__" }
s = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
s

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

L = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
L = set(L)
L

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Verify if the element is in the set

"AC/DC" in A

True

In [ ]:
# Sample Sets

s1 = set(["Thriller", 'AC/DC', 'Back in Black'])
s2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

#intersection

i = s1 & s2
i

{'AC/DC', 'Back in Black'}

In [ ]:
#difference

s1.difference(s2)

{'Thriller'}

In [ ]:
# union
s1.union(s2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
# Check if subset

set(s2).issubset(s1)

False

In [ ]:
# Check if superset

s1.issuperset({"Back in Black", "AC/DC"})

True

## Conditions

In [ ]:
# for Conditions we use | > | < | = | == | != |

In [ ]:
age = 19

if age > 18:
    print("you can vote" )
else:
    print("you can't" )

you can vote

In [ ]:
A=1996
B=1999
if A%4==0:
    print("A was born in a leap year")
elif B%4==0:
    print("B was born in a leap year")
else:
    print("None of them were born in a leap year")

A was born in a leap year

## Loops

In [ ]:
for i in range(0,8):
  print(i)

0
1
2
3
4
5
6
7

In [ ]:
# For loop example

d = [1982,1980,1973]
N = len(d)

for i in range(N):
    print(d[i])

1982
1980
1973

In [ ]:
# Use for loop to change the elements in list

s = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before s ", i, 'is',  s[i])
    s[i] = 'white'
    print("After s ", i, 'is',  s[i])

Before s  0 is red
After s  0 is white
Before s  1 is yellow
After s  1 is white
Before s  2 is green
After s  2 is white
Before s  3 is purple
After s  3 is white
Before s  4 is blue
After s  4 is white

In [ ]:
#while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):
    print(year)
    i = i + 1
    year = dates[i]


print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

## Functions

In [ ]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')

result = Mult(12,2)
print(result)

24

In [ ]:
def add(a,b):
  c = a+b
  return(c)

result = add(1,2)
print(result)

3

## Exception Handling

In [ ]:
"""
An exception is an error that occurs during the execution of code.
This error causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.

"""
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

Please enter a number to divide a5
success a= 0.2
Processing Complete

## Classes and Objects in Python

In [ ]:
""" A class is a blueprint for creating objects (instances) with specific attributes and behaviors.
It serves as a template or a structure that defines the properties and methods that objects of that class will have."""

In [ ]:
""""A constructor is a special method that is automatically called when an object of a class is created.
It is used to initialize the object and set its initial state. The constructor method is defined within the class and has the same name as the class itself. """

In [13]:
#create class

class Circle(object):

  """In Python, def __init__ is the special method used to define a constructor in a class.
  The __init__ method is automatically called when an object of the class is created,
  and it is responsible for initializing the object's attributes and setting its initial state."""

    # Constructor
  def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color

In [14]:
""" A method is a function that is defined within a class.
It is a special type of function that is associated with an object (instance) of the class and can access the object's attributes and other methods. """

" A method is a function that is defined within a class. \nIt is a special type of function that is associated with an object (instance) of the class and can access the object's attributes and other methods. "

In [15]:
 # Method
def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)

In [16]:
"""an instance is an individual occurrence of a class.
It is a specific realization or instantiation of a class, representing a unique object with its own set of attributes and behaviors."""

'an instance is an individual occurrence of a class. \nIt is a specific realization or instantiation of a class, representing a unique object with its own set of attributes and behaviors.'

In [17]:
# Create an object RedCircle

RedCircle = Circle(10, 'red')

In [18]:
# Find out the methods can be used on the object RedCircle

dir(RedCircle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'radius']

In [19]:
# Print the object attribute radius

RedCircle.radius

10

In [20]:
# Print the object attribute color

RedCircle.color

'red'

In [21]:
# Set the object attribute radius

RedCircle.radius = 1
RedCircle.radius

1

In [23]:
# Scenario: Car dealership's inventory management system

In [24]:
class Vehicle:
    color = "white"

  #constructor
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        self.seating_capacity = None

    def assign_seating_capacity(self, seating_capacity):
        self.seating_capacity = seating_capacity

    def display_properties(self):
        print("Properties of the Vehicle:")
        print("Color:", self.color)
        print("Maximum Speed:", self.max_speed)
        print("Mileage:", self.mileage)
        print("Seating Capacity:", self.seating_capacity)

# Creating objects of the Vehicle class
vehicle1 = Vehicle(200, 50000)
vehicle1.assign_seating_capacity(5)
vehicle1.display_properties()

vehicle2 = Vehicle(180, 75000)
vehicle2.assign_seating_capacity(4)
vehicle2.display_properties()

Properties of the Vehicle:
Color: white
Maximum Speed: 200
Mileage: 50000
Seating Capacity: 5
Properties of the Vehicle:
Color: white
Maximum Speed: 180
Mileage: 75000
Seating Capacity: 4

## Reading Files Python

In [25]:
import urllib.request

In [26]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

('Example1.txt', <http.client.HTTPMessage at 0x7b54d90a61a0>)

In [27]:
# Read the Example1.txt

example1 = "Example1.txt"
file1 = open(example1, "r")

In [28]:
# Print the path of file

file1.name

'Example1.txt'

In [29]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [30]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [31]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [32]:
# Type of file content

type(FileContent)

str

In [33]:
# Close file after finish

file1.close()

In [34]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [35]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [36]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [37]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [38]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [39]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

## Introduction to Pandas in Python

In [40]:
# Dependency needed to install file

!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [41]:
# Import required library

import pandas as pd

In [42]:
# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [43]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [44]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [45]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [47]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [48]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

In [49]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [50]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

## Numpy in Python

In [ ]:
""" NumPy is a Python library used for working with arrays, linear algebra, fourier transform, and matrices.A numpy array is similar to a list.
NumPy stands for Numerical Python and it is an open source project.The array object in NumPy is called ndarray,
it provides a lot of supporting functions that make working with ndarray very easy. """

In [51]:
# Create a python list

a = ["0", 1, "two", "3", 4]

In [52]:
# Print each element

print("a[0]:", a[0])
print("a[1]:", a[1])
print("a[2]:", a[2])
print("a[3]:", a[3])
print("a[4]:", a[4])

a[0]: 0
a[1]: 1
a[2]: two
a[3]: 3
a[4]: 4

In [53]:
# import numpy library

import numpy as np

In [54]:
# Create a numpy array

a = np.array([0, 1, 2, 3, 4])
a

array([0, 1, 2, 3, 4])

In [55]:
print(np.__version__)

1.22.4

In [56]:
# Check the type of the array

type(a)

numpy.ndarray

In [58]:
# Create numpy array

c = np.array([20, 1, 2, 3, 4])
c

array([20,  1,  2,  3,  4])

In [59]:
# Slicing the numpy array

d = c[1:4]
d

array([1, 2, 3])

In [60]:
# Assign the first element to 100

c[0] = 100
c

array([100,   1,   2,   3,   4])

In [61]:
# Assign the 5th element to 0

c[4] = 0
c

array([100,   1,   2,   3,   0])

## APIs

In [62]:
# RandomUser API

!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5066 sha256=9129001f44fb4a99c4d0acd36082d62d9b02d365db46b562c50fbc1eeef3cfda
  Stored in directory: /root/.cache/pip/wheels/b8/f3/19/6a938647065b4bb2471a9d063647d14d4fcc3236731f4e2b53
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

In [63]:
from randomuser import RandomUser
import pandas as pd

In [64]:
r = RandomUser()

In [65]:
some_list = r.generate_users(10)

In [66]:
some_list

[<randomuser.RandomUser at 0x7b54d83a5d80>,
 <randomuser.RandomUser at 0x7b54d906b100>,
 <randomuser.RandomUser at 0x7b54d906bd00>,
 <randomuser.RandomUser at 0x7b54d906b9a0>,
 <randomuser.RandomUser at 0x7b54d9069b10>,
 <randomuser.RandomUser at 0x7b54d906be20>,
 <randomuser.RandomUser at 0x7b54d906bd90>,
 <randomuser.RandomUser at 0x7b54d90a5a80>,
 <randomuser.RandomUser at 0x7b54d90a62c0>,
 <randomuser.RandomUser at 0x7b54d90a6e90>]

In [67]:
name = r.get_full_name()

In [68]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Väinö Kotila   vaino.kotila@example.com
آرمین موسوی   armyn.mwswy@example.com
Patricia Castro   patricia.castro@example.com
اميرحسين رضایی   myrhsyn.rdyy@example.com
Agnes Fjeld   agnes.fjeld@example.com
Tadeusz Scholten   tadeusz.scholten@example.com
Marilou Riviere   marilou.riviere@example.com
Liam Sullivan   liam.sullivan@example.com
Nihal Berberoğlu   nihal.berberoglu@example.com
Anna Evans   anna.evans@example.com

## Fruitvice API

In [69]:
import requests
import json

In [70]:
data = requests.get("https://fruityvice.com/api/fruit/all")

In [71]:
results = json.loads(data.text)

In [72]:
pd.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Papaya,42,Caricaceae,Caricacea,Carica,"{'calories': 43, 'fat': 0.4, 'sugar': 1.0, 'ca..."
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
27,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
29,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
30,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
32,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
33,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
35,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
38,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
39,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."

In [73]:
df2 = pd.json_normalize(results)

In [74]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78

In [75]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Web Scraping

In [76]:
!pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.10/dist-packages (1.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib) (0.5.1)

In [77]:
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.4.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=de398e4375fc993d8639ce55a9aa14d18408aad7801ff3a64544c52076bfafe7
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [78]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [79]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [81]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [82]:
soup = BeautifulSoup(html, 'html5lib')

In [83]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [84]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>